@charset "utf-8";

/* Webkit Scrollbar Customize */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}

html {
    font-family: -apple-system,BlinkMacSystemFont,"Pingfang SC",Roboto,"Open Sans","Microsoft Yahei Light","Microsoft YaHei","Helvetica Neue",Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

/* HEADER */
.header {
    display: none;
}

@media screen and (max-width: 767px) {
    .header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 46px;
        background: #00bdff;
        z-index: 3;
    }
}

.header #menu {
    position: absolute;
    left: 12px;
    font-size: 18px;
    line-height: 46px;
    color: #fff;
}

.header .site-title {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

.header.slide-up {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(100px);
    transform: translateY(-100px);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.header.slide-down {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

#wrap {
    width: 100%;
    height: 100%;
}

#backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 3;
}

#backdrop.hide {
    display: none;
}

/* 左侧 */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 250px;
    height: 100%;
    border-right: solid 1px #e4e4e4;
    background: #fff;
    z-index: 4;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

@media screen and (max-width: 767px) {
    .sidebar {
        -webkit-transform: translateX(-251px);
        -moz-transform: translateX(-251px);
        -ms-transform: translateX(-251px);
        -o-transform: translateX(-251px);
        transform: translateX(-251px);
    }
}

.show-sidebar {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.sidebar .sidebar-top {
    padding: 1.5em 0;
    text-align: center;
    background-color: #00bdff;
}

.sidebar .avatar {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.sidebar .avatar:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.sidebar .site-name {
    margin-top: 16px;
    font-size: 1.5em;   
}

.sidebar .site-name > a {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav {
    margin: 50px auto;
    text-align: center;
}

.menu-item {
    padding: 12px 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.menu-item:hover {
    background: #eee;
}

.menu-item:not(:first-child) {
    margin-top: 12px;
}

.menu-item a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #999;
}

/* 右侧 */
.main {
    margin: 0 auto 0 250px;
}

@media screen and (max-width: 767px) {
    .main {
        width: 100%;
        margin: 0 auto;
    }
}

.content {
    margin: 24px auto;
}

@media screen and (min-width: 768px) {
    .content {
        max-width: 85%;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 75%;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        max-width: 65%;
    }
}

@media screen and (max-width: 767px) {
    .content {
        max-width: 90%;
        margin: 64px auto 24px auto;
    }
}

.category-title {
    text-align: center;
}

.article-item {
    margin: 0 0 20px 0;
    border-bottom: solid 1px #eef2f8;
}

.article-title {
    margin: 12px auto;
}

.article-title-link {
    text-decoration: none;
    color: #000;
    transition: color .3s ease-in-out;
}

.article-title-link:hover {
    color: #2479cc;
}

.article-meta {
    font-size: 13px;
    color: #9eabb3;
}

.article-meta a {
    text-decoration: none;
    color: #9eabb3;
    transition: .3s color;
}

.article-meta a:hover {
    color: #2479cc;
}

.article-meta i {
    margin: 0 5px 0 0;
}

.article-desc {
    font-size: 14px;
    line-height: 28px;
    margin: 8px 0 0 0;
}

.article-more {
    margin: 0 0 12px 0;
}

.article-more > a {
    font-size: 13px;
    text-decoration: none;
    color: #349ef3;
}

/* - 换页 */
.page-navigator {
    display: flex;
    justify-content: center;
    margin: 32px auto;
}

.page-navigator span {
    margin: 0 8px;
}

.page-navigator a {
    padding: 5px 10px;
    border: solid 1px #9e9e9e;
    border-radius: 3px;
    text-decoration: none;
    font-size: 13px;
    color: #9e9e9e;
    transition: border .3s ease-in-out;
}

.page-navigator a:hover,
.page-navigator .current > a {
    border: solid 1px #2479cc;
    color: #2479cc;
}

/* POST */
.post-title{
    font-size: 1.3rem;
    text-align: center;
}

.post-meta {
    margin: 8px 0;
    text-align: center;
    font-size: 13px;
    color: #9eabb3;
}

.post-meta i{
    margin-right: 5px;
}

.post-content{
    margin: 18px auto;
    line-height: 1.75rem;
    word-wrap: break-word;
}

.post-content h1 {
    font-size: 1.3rem;
}

.post-content h2 {
    font-size: 1.2rem;
}

.post-content h3 {
    font-size: 1.1rem;
}

.post-content h1:before,
.post-content h2:before,
.post-content h3::before{
    content:'# ';
    color:#999;
}

.post-content p {
    font-size: 14px;
}

.post-content img {
    max-width: 100%;
    border-radius: 5px;
}

.post-content ul,
.post-content ol {
    margin: 0 auto 0 20px;
}

.post-content hr {
    margin: 2em 0;
    border: 0;
    border-bottom: solid 2px #efefef;
}

.post-content a{
    color: rgb(37, 168, 219);
    text-decoration: none;
    -webkit-transition: .5s color ease-in-out;
    -moz-transition: .5s color ease-in-out;
    -o-transition: .5s color ease-in-out;
	transition: .5s color ease-in-out;
}

.post-content a:hover{
    color: #7decff;
}

.post-content blockquote{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	border-left: 3px solid #ccc;
}

/* 文章代码高亮 */
.post-content pre {
    overflow: auto;
    margin: 1.6em 0;
    padding: 15px 20px;
    border: 1px solid #ddd;
    line-height: 1.2em;
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
    border-radius: 3px;
    background: #2d2d2d;
    color: #ccc;
}

pre::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
pre::-webkit-scrollbar-track-piece{
    background: #555555;
    border-radius: 0 0 5px 5px;
}
pre::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: #888;
}

/* #comments */
#comments {
    margin-top: 15px;
}

#comments .commentsnum {
    margin: 0 0 5px;
    font-size: 1.1rem;
    color: #555;
}

#comments .text {
    margin: 8px auto;
    padding: 10px 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    background: #fff;
}

#comments .textarea {
    margin: 8px auto;
    padding: 6px 12px;
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    background: #fff;
}

#comments .btn {
    display: block;
    margin: 5px auto;
    padding: 0 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #999;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

#comments .btn:hover {
    border: 1px solid #2479cc;
    color: #2479cc;
}

#comments .comment-list {
    padding: 0;
    list-style: none;
}

#comments .response{
    font-size: 13px;
}

#comments .response a {
    text-decoration: none;
    color: #aaa;
}

#comments .response a:hover {
    color: #2479cc;
}

#comments .avatar {
    float: left;
    display: block;
    margin-right: .5rem;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

#comments .comment-reply {
    float: right;
}

#comments .comment-reply a {
    text-decoration: none;
    color: #aaa;
}

#comments .comment-reply a:hover {
    color: #2479cc;
}

#comments .comment-author {
    padding: .1rem .25rem;
    border-radius: .25rem;
    background: #eee;
}

#comments .comment-author a {
    color: #aaa;
    text-decoration: none;
}

#comments .comment-author a:hover {
    color: #2479cc;
}

#comments .comment-meta {
    margin-top: 5px;
    margin-left: 50px;
    color: #aaa;
    font-size: 12px;
}

#comments .comment-view {
    overflow: hidden;
    padding: .85rem 0;
    border-bottom: 1px dotted #e0e0e0;
}

#comments .comment-content p {
    margin: 0 0 0 50px;
    font-size: 14px;
}

#comments .comment-parent>.comment-children {
    margin-left: 1rem;
    padding-left: 40px;
}

/* 底部 */
.footer {
    margin: 36px auto 0 auto;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    color: #9eabb3;
}

.footer a {
    color: #349ef3;
    text-decoration: none;
    transition: color .5s;
}

.footer a:hover {
    color: #51aded;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.footer p {
    line-height: 24px;
}

.social-menu {
    margin: 0;
    font-size: 22px;
}

.social-menu li {
    display: inline-block;
    margin: 0 6px;
}

.social-menu li a {
    color: #9eabb3;
}

.social-menu li a:hover {
    color: #349ef3;
}

/* LINKS */
.links {
    overflow: hidden;
    margin: 2em auto;
    text-align: center;
}

.links .links-item {
    display: inline-block;
    width: 96px;
    padding: 12px 0;
    text-align: center;
}

.links .links-item > a {
    width: 100%;
    text-decoration: none;
    color: #4e687b;
}

.links .links-avatar {
    display: inline-block;
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: 0 0.5em 2em #f1f4f7;
}

.links .links-name {
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .5;
}

/* 404 */
.error-404 {
    text-align: center;
    padding: 12em 0;
    letter-spacing: 2px;
}

.error-404 h2 {
    font-weight: normal;
}

.error-404 p {
    color: #999;
}
